*.js
!jest.config.js
*.d.ts
node_modules
!working_example/typescript/lambda/*.js

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel build directories
.cache
.build

# Python stuff
.venv
*.swp
package-lock.json
__pycache__
.pytest_cache
.env
*.egg-info

